In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [3]:
data=pd.read_csv("D:\\DATA SCIENCE\\DATA SCIENCE ASSIGNMENTS\\Assignments\\Decision Tree\\Company_Data.csv")
data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [4]:
df=data.copy()

In [5]:
df['ShelveLoc'].replace({'Bad':0,'Medium':1,'Good':2},inplace=True)
df['Urban'].replace({'No':0,'Yes':1},inplace=True)
df['US'].replace({'No':0,'Yes':1},inplace=True)

In [6]:
from sklearn.preprocessing import Binarizer

bin=Binarizer(threshold=7.5)   #7.5=just take mean of "Sales" column

col=df['Sales'].values
col=col.reshape(-1,1)
#col

bin.fit_transform(col)

df['Sales']=bin.fit_transform(col)
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,1.0,138,73,11,276,120,0,42,17,1,1
1,1.0,111,48,16,260,83,2,65,10,1,1
2,1.0,113,35,10,269,80,1,59,12,1,1
3,0.0,117,100,4,466,97,1,55,14,1,1
4,0.0,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,1.0,138,108,17,203,128,2,33,14,1,1
396,0.0,139,23,3,37,120,1,55,11,0,1
397,0.0,162,26,12,368,159,1,40,18,1,1
398,0.0,100,79,7,284,95,0,50,12,1,1
399,1.0,134,37,0,27,120,2,49,16,1,1

In [7]:
x=df.iloc[:,1:]
y=df.iloc[:,0]

In [8]:
classifier=LogisticRegression()
classifier.fit(x,y)

D:\anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [9]:
y_pred=classifier.predict(x)
y_pred

array([0., 1., 1., 1., 0., 1., 0., 1., 0., 0., 1., 1., 0., 1., 1., 0., 1.,
       1., 1., 1., 0., 1., 0., 0., 1., 1., 1., 0., 0., 0., 1., 1., 0., 1.,
       0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 1., 0., 1., 1.,
       1., 1., 1., 0., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 0., 0.,
       1., 1., 1., 0., 1., 0., 0., 0., 1., 1., 0., 1., 1., 1., 0., 0., 1.,
       0., 0., 0., 1., 0., 1., 0., 1., 1., 0., 1., 0., 1., 0., 0., 1., 0.,
       0., 0., 1., 0., 0., 1., 1., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0.,
       0., 0., 1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0., 1., 1., 1., 1.,
       0., 1., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1.,
       0., 1., 1., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0., 0., 1., 1., 1.,
       0., 0., 1., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 1., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1., 1., 1.,
       0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 1., 1., 1., 0., 1., 1.,
       0., 0., 1., 1., 0., 1., 1., 1., 1., 0., 0., 0., 0., 0., 1., 0., 1.,
       1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 0.,
       1., 1., 1., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0.,
       1., 1., 0., 1., 1., 1., 0., 1., 0., 1., 1., 1., 0., 0., 1., 1., 1.,
       0., 0., 1., 1., 1., 0., 0., 1., 1., 0., 1., 0., 1., 1., 0., 1., 1.,
       1., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0., 1., 1., 0., 0., 0., 1.,
       1., 0., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0.,
       1., 0., 0., 1., 1., 0., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 0.,
       1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 1., 0., 0., 1., 1., 1., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 1.])

In [10]:
y

0      1.0
1      1.0
2      1.0
3      0.0
4      0.0
      ...
395    1.0
396    0.0
397    0.0
398    0.0
399    1.0
Name: Sales, Length: 400, dtype: float64

In [14]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y,y_pred)

array([[185,  17],
       [ 24, 174]], dtype=int64)

In [15]:
import numpy as np
np.mean(y_pred==y)

0.8975

In [18]:
from sklearn.metrics import classification_report 
classification_report(y, y_pred)

'              precision    recall  f1-score   support\n\n         0.0       0.89      0.92      0.90       202\n         1.0       0.91      0.88      0.89       198\n\n    accuracy                           0.90       400\n   macro avg       0.90      0.90      0.90       400\nweighted avg       0.90      0.90      0.90       400\n'